/*
  This file is used to change the CSS sizes of the Gaia UI.

  It's usefulness will be reduced to virtually none once the platform part of
  https://bugzilla.mozilla.org/show_bug.cgi?id=838505 is landed and Gecko correctly reflect
  the device dpi and device pixel ratio to web content.
*/


/*
  WVGA => QHD
  --
  Supported devices:
    * 480x800
  --
  UA default font size 16px.
  62.5% = 10px (base device)
  62.5% * 1.5 (dppx) = ~94% (93.75%)
*/
/*Portrait*/
@media all and (min-device-width: 480px) and (max-device-width: 540px) and (max-device-aspect-ratio: 1/1) {
  html { font-size: 94%!important; }
}

/*Landscape*/
@media all and (min-device-width: 800px) and (max-device-width: 960px) and (min-device-aspect-ratio: 1/1) {
  html { font-size: 94%!important; }
}


/*
  QHD => HD
  --
  Supported devices:
    * Geeksphone Peak: 540×960
  --
  UA default font size 16px.
  100% = 16px
  62.5% = 10px (base device)
  62.5% * 1.6875 (dppx) = ~105% (105,46875%)
*/

/*Portrait*/
@media all and (min-device-width: 540px) and (max-device-width: 720px) and (max-device-aspect-ratio: 1/1) {
  html { font-size: 105%!important; }
}

/*Landscape*/
@media all and (min-device-width: 960px) and (max-device-width: 1280px) and (min-device-aspect-ratio: 1/1) {
  html { font-size: 105%!important; }
}


/* ----------------------------------
 * HEADERS: default
 * ---------------------------------- */
section[role="region"] > header:first-child {
  position: relative;
  z-index: 10;
  padding: 0;
  height: 5rem;
  color: #fff;
  background: url(../shared/style/headers/images/ui/header.png) repeat-x 0 0;
  background-size: auto 100%;
  border: none;
}

section[role="region"] > header:first-child:after {
  content: "";
  display: block;
  height: 0.3rem;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: url(../shared/style/headers/images/ui/shadow.png) repeat-x 0 0;
  background-size: auto 100%;
}

/* Icon definitions */
section[role="region"] > header:first-child .icon {
  position: relative;
  float: none;
  display: inline-block;
  vertical-align: top;
  width: 3rem;
  height: 4.9rem;
  margin: 0 -1rem;
  background: transparent no-repeat center center / 3rem auto;
  font-size: 0;
  overflow: hidden;
}

section[role="region"] > header:first-child .icon.icon-back {
  background-image: url(../shared/style/headers/images/icons/back.png);
}


/* Navigation links (back, cancel, etc) */
section[role="region"] > header:first-child > button,
section[role="region"] > header:first-child > a {
  position: absolute;
  left: 0;
  width: 5rem;
  height: 5rem;
  background: url(../shared/style/headers/images/ui/separator-large.png) no-repeat 2rem center / auto 4.8rem;
  overflow: hidden;
}

section[role="region"] > header:first-child > button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

section[role="region"] > header:first-child > button .icon,
section[role="region"] > header:first-child > a .icon {
  position: static;
  display: block;
  width: 2rem;
  height: 4.9rem;
  margin: 0;
  overflow: visible;
  font-size: 0;
}

section[role="region"] > header:first-child > button .icon:after,
section[role="region"] > header:first-child > a .icon:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 2rem;
  height: 4.9rem;
  background: #9d3d26 url(../shared/style/headers/images/ui/negative.png) repeat-x left bottom / auto 100%;
}

/* ----------------------------------
* Tabs
* ---------------------------------- */

[role="tablist"] {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

[role="tablist"] > [role="tab"] {
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;
  width: 100%;
}

[role="tablist"] > [role="tab"] > a {
  font-size: 1.3rem;
  text-decoration: none;
  line-height: 4rem;
  text-align: center;
  color: #FFF;
  float: left;
  width: 100%;
  background: #000 no-repeat center top;
  position: relative;
  color: #fff;
}

/* Position bottom */
[role="tablist"].bottom > [role="tab"] {
  height: 100%;
}

[role="tablist"].bottom  > [role="tab"] > a {
  position: relative;
  height: 4rem;
  top: calc(100% - 4rem);
}

[role="tablist"].bottom [role="tabpanel"] {
  top: 0;
}

/* ----------------------------------
 * Lists
 * ---------------------------------- */

[data-type="list"] {
  padding: 0 1.5rem;
}

[data-type="list"] ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Title divisors */
[data-type="list"] header {
  border-bottom: 0.1rem solid #ff4E00;
  padding: 0.5rem 1rem;
  margin: 0;
  font-size: 1.6rem;
  line-height: 1.8rem;
}

/* List items */
[data-type="list"] li {
  width: 100%;
  height: 6rem;
  -moz-box-sizing: border-box;
  border-bottom: solid 0.1rem #dbd9d9;
  margin: 0;
  display: block;
}

[data-type="list"] li:last-child {
  border: none;
}


/*  Main UI declaration */
body,
html {
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font: 10px/1em "MozTT", Sans-serif;
  background: #fff;
}


/*#Splash view */
#splash {
  background: #fff;
  position: absolute;
  z-index: 2147483647; /* Maximum z-index */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.4s ease;
}

section#splash[role="region"] > header:first-child {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

#splash [role="region"] {
  margin-top: 5rem; /* Header height */
}

/* List override shared/style_unstable/lists.css */
#splash [data-type="list"],
#splash [data-type="list"] ul { padding: 0; }

#splash [data-type="list"] li,
#splash [data-type="list"] li a,
#splash [data-type="list"] ul[data-type="edit"] li,
#splash [data-type="list"] header { padding-left: 1.5rem; padding-right: 1.5rem; }

/* Tabs basics override shared/style_unstable/tabs.css */
#splash [role="tablist"] { height: auto; position: absolute; bottom: 0; left: 0; right: 0; z-index: 1; }

