#lockdialer {
	position: absolute;
	left: 0;
	right: 0;
	/* Using '100px' as base, becouse of lockscreen.css => #lockscreen-header { height: 100px; } */
	top: 125px;  
	/* Show it above fullscreen - see https://mxr.mozilla.org/mozilla-central/source/layout/style/ua.css#218 */
	bottom: 0;
	z-index: 2147483647;
	background: url(images/generic.png) no-repeat center center;
	background-size: cover;
}

#lockdialer > header {
	background: #52B6CC;
	border-top: solid 1px rgba(255, 255, 255, 0.3);
	height: 8rem;
	padding: 0 3rem;
}

#lockdialer > header h1 {
	font: lighter 3.2rem/0 Open Sans;
	color: #1A3F46;
	margin: 2.5rem 0;
}
#lockdialer > header p {
	font: 1.4rem/1em Open Sans;
	color: #fff;
}
#lockdialer > header p span {
	text-transform: uppercase;
}


/* Call actions */
#lockdialer .call-actions {
	position: absolute;
	bottom: 3rem;
	left: 3.1rem;
	right: 3.1rem;
	height: 4rem;
}
#lockdialer .call-actions button {
	background: transparent no-repeat center center;
	background-size: 100% auto;
	border: none;
	font: 0/0 a;
	overflow: hidden;
	width: 4rem;
	height: 4rem;
	position: absolute;
	top: 0;
}

#lockdialer .call-actions .hang {
	left: 0;
	background-image: url(images/hang.png);
}
#lockdialer .call-actions .hang.active {
	background-image: url(images/hang-active.png);
}

#lockdialer .call-actions .pick {
	right: 0;
	background-image: url(images/pick.png);
}

#lockdialer .call-actions .pick.active {
	background-image: url(images/pick-active.png);
}

#lockdialer .call-actions .seeker {
	height: 1px;
	background: rgba(255, 255, 255, 0.5);
	position: absolute;
	top: 50%;
	left: 4rem;
	right: 4rem;
}

#lockdialer .call-actions .seeker .handler {
	background: url(images/handle.png) no-repeat center center;
	background-size: 100% auto;
	width: 5rem;
	height: 5rem;
	position: absolute;
	left: 50%;
	top: -2.5rem;
	margin-left: -2.5rem;
}
#lockdialer .call-actions .seeker .handler.active:after {
	content: "";
	position: absolute;
	left: -0.7rem;
	right: -0.7rem;
	top: -0.7rem;
	bottom: -0.7rem;
	background: url(images/handle-active.png) no-repeat center center;
	background-size: 100% auto;
}














