/* ----------------------------------
 * CHECKBOXES / RADIOS
 * ---------------------------------- */

label:not([for])  {
  display: inline-block;
  vertical-align: middle;
  width: 5rem;
  height: 5rem;
  position: relative;
  background: none;
}

label:not([for]) input[type="checkbox"],
label:not([for]) input[type="radio"] {
  margin: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

label:not([for]) input + span {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -1.1rem 0 0 -1.1rem;
  width: 2.2rem;
  height: 2.2rem;
  pointer-events: none;
}

label:not([for]) input[type="checkbox"] + span {
  background: url(switches/images/check/default.png) no-repeat center top / 2.2rem auto;
}

label:not([for]) input[type="radio"] + span {
  background: url(switches/images/radio/default.png) no-repeat center top / 2.2rem auto;
}

label:not([for]) input:checked + span {
  background-position: center bottom;
}

/* 'Dangerous' switches */

label:not([for]).danger input[type="checkbox"] + span {
  background-image: url(switches/images/check/danger.png);
}

label:not([for]).danger input[type="radio"] + span {
  background-image: url(switches/images/radio/danger.png);
}


/* ----------------------------------
 * ON/OFF SWITCHES
 * ---------------------------------- */

label:not([for]) input[type="checkbox"][data-type="switch"] + span {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -1.1rem 0 0 -2.7rem;
  width: 5.3rem;
  height: 2.2rem;
  pointer-events: none;
  border: solid 0.1rem #a2a2a2;
  border-radius: 5.4rem;
  overflow: hidden;
  background: url(switches/images/switch/states.png) no-repeat left bottom;
  animation: 0.25s ease;
}


/* Disabled states */
label:not([for]) input[type="checkbox"][data-type="switch"]:disabled + span {
  opacity: 0.3;
}

/* Moving state */
label:not([for]) input[type="checkbox"][data-type="switch"] + span.moving {
  animation: none;
}

/* Finish transition */
label:not([for]) input[type="checkbox"][data-type="switch"] + span.finish {
  transition: background-position 0.15s ease;
  animation: none;
}

/* Active states */
label:not([for]):active input[type="checkbox"][data-type="switch"] + span {
  background-position: right top;
}

label:not([for]):active input[type="checkbox"][data-type="switch"]:checked + span {
  background-position: left top;
}

/* 'ON' state */
label:not([for]) input[type="checkbox"][data-type="switch"]:checked + span {
  background-position: left center;
  border-color: #00acce;
  animation-name: check;
}

/* 'OFF' state */
label:not([for]) input[type="checkbox"][data-type="switch"] + span {
  background-position: left bottom;
  animation-name: uncheck;
}

@keyframes check {
  0% {
    background-position: right top;
  }
  100% {
    background-position: left top;
  }
}

/* Reverse option in animation does not animate.
We must hardcode a reversed animation */
@keyframes uncheck {
  0% {
    background-position: left top;
  }
  100% {
    background-position: right top;
  }
}

