#dataUsage h2 button {
	float: right;
	margin: 1rem 0.5rem 0 0;
}

#dataUsage .dataIntro {
	overflow: hidden;
}
#dataUsage .dataIntro li {
	width: -moz-calc(100%/3);
	-moz-box-sizing: border-box;
	padding: 0.5rem;
	height: auto;
	font: 1.2rem/1.5rem Open Sans, Sans-serif;
	background: none;
	float: left;
	text-align: center;
	color: #fff;
	border: none;
}
#dataUsage .dataIntro li strong {
	display: block;
}

/* Free data */
#dataUsage .dataIntro li:nth-child(1) {
	background: #ccc;
}

/* 3G data */
#dataUsage .dataIntro li:nth-child(2) {
	background: #3ec2ff;
}

/* WIFI data */
#dataUsage .dataIntro li:nth-child(3) {
	background: #bae97c;
}


#dataUsage .appUsage {
	display: block;
	list-style: none;
	padding: 0;
}

#dataUsage .appUsage > li {
	padding: 0.5rem;
}

#dataUsage .appUsage li img {
	width: 2.5rem;
	height: 2.5rem;
	background: #ccc;
	float: left;
	margin-right: 1.5rem;
}

#dataUsage .appUsage li .appMeta {
	display: block;
	overflow: hidden;
}

#dataUsage .appUsage li .dataIntro {
	width: auto;
	display: inline-block;
	vertical-align: baseline;
}
#dataUsage .appUsage li .dataIntro li {
	font-size: 1rem;
	padding: 0.25rem 0.5rem;
	width: auto;
}

#dataUsage .appUsage li strong {
	float: right;
	margin-top: 0.5rem;
}

#dataUsage .appUsage li label {
	float: right;
	position: relative;
	width: auto;
}
#dataUsage .appUsage li label input {
	display: block;
}
#dataUsage .appUsage li label span {
	display: none;
}
















